/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Section Styles */
section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

#skills ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Footer Styles */
footer {
        text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    /* Remove absolute positioning */
    width: 100%;
    margin-top: 20px; /* Optional, to add space between footer and content */

}
